* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    border-radius: 50px;
    max-width: 50%;
    height: 100px;
    padding: 26px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    background-color: green;
    color: rgb(255, 255, 255);
}